h2{
    text-align: center;
}
table{
    clear: both;
    border: 1px solid black;
    border-collapse:collapse;
    width: 96%;
    text-align: center;
    margin: 2% 2%;
}
th{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-collapse:collapse;
}
tr, td{
    border: 1px solid black;
    border-collapse:collapse;
}
